button {
  cursor: pointer;
}
.btn-container button[data-start] {
  background-color: green;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.btn-container button[data-stop] {
  background-color: red;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

.field-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.field {
  display: block;
}

.field span {
  display: flex;
  justify-content: center;
}

.field span:first-child {
  font-family: monospace;
  font-weight: 600;
  font-size: 44px;
  line-height: 1;
}
